@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}

.app-content{
  @apply max-w-screen-xl mx-auto;
}


.header-footer-content {
  @apply max-w-screen-xl mx-auto;
}




